# 
# Content patches
# Priority of loading content - from end to beginning data files
#

# Fallout content (master.dat + critter.dat)
fallout.dat

# New critter skins
longhairdude.dat
cablack.dat
ftrobots.bos
lieutenant.dat

# Generic patches
# fonline.zip
