[Options]

# Game EXE and Config file names
GameFileName     = FOnline

# Updater web page
UpdaterURL       = http://fonline.ru/servers.html

# Current game server (overwritten to client config)
GameServer       = 
GameServerPort   = 

# Content to transfer
# Use ',' as delimiter
Content          = .\Files\
Query            = *
Ignore           = *.svn
Pack             = *.txt, *.lst, *.cfg, *.exe, *.dll
NoRewrite        = FOnline.cfg, IgnoreList.txt, NameColorizing.txt, data\cache\*
Delete           = 
HddInsteadRam    = *.dat
