/Server/maps/*.fomapb
/Server/scripts/*.fosb
/Server/scripts/*.fosp
/Server/scripts/geany_run_script.sh
/Client/data/CrashDump*
/Client/FOnline.cfg
/Client/FOnline.log
/Server/save/**
/Tools/Fonline Critter Proto Editor v0.54.0/CritterProtoEditor.ini
/Tools/Fonline Critter Proto Editor v0.54.0/BackupServerFiles/*
/Tools/ObjectEditor/listview.bin
/Tools/ObjectEditor/ObjectEditor.log
/Tools/ObjectEditor/ObjectEditor.user.cfg
/Tools/ObjectEditor/Template.lang
/Tools/EncounterEditor/settings.ini
/Client/data/cache/**
/Tools/TiledMapper/TiledMapper.cfg
/Tools/TraderEditor/settings.ini
/Client/data/sound/music/*
/Client/fallout.dat
/Client/ftrobots.bos
/Server/dumps/*
/Server/profiler/*