*.fomapb
*.fosb
*.fosp
/Client/data/CrashDump*
/Server/save/*
/Tools/Fonline Critter Proto Editor v0.54.0/BackupServerFiles/*
/Tools/ObjectEditor/listview.bin
/Tools/ObjectEditor/ObjectEditor.log
/Tools/ObjectEditor/ObjectEditor.user.cfg
/Tools/ObjectEditor/Template.lang
/Client/data/cache/*default.cache
/Tools/TiledMapper/TiledMapper.cfg
/Tools/TraderEditor/settings.ini
/Client/data/sound/music/*
/Client/fallout.dat
/Client/ftrobots.bos
/Server/dumps/*
/Server/profiler/*