# Window name
WindowName = FOnline Mapper

# Path to server folder
ServerPath = ..\..\Server\

# Server executable and config name
ServerName = FOnlineServer

# Path to client folder
ClientPath = ..\..\Client\

# Client executable and config name
ClientName = FOnline

# Mapper interface options
MapperInterface = mapper_default.ini

